/**
 * This file provides the most basic styles, concerned majorly with typography. It requires polishing.
 *
 *
 * @author Anika Henke <anika@selfthinker.org>
 * @author Cieron <cirrow@proton.me>
 */




/* ------------ BEGIN ------------ */


html {
    overflow-x: auto;
    overflow-y: scroll;
}
html,
body {
    background-color: __background__;
    color: __text__;
    margin: 0;
    padding: 0;
}
body {
    font-style: normal; 
    font-size: 1rem;
    line-height: 1.5;
    /* default font size: 100% => 16px; 93.75% => 15px; 87.5% => 14px; 81.25% => 13px; 75% => 12px */
    -webkit-text-size-adjust: 100%;
}
sup {
    margin-left: 0.1rem;
    vertical-align: 0.2em !important;
    line-height: 1;
}



/* ___________ editor ___________ */

textarea {
    line-height: 1.4 !important;
}


/*____________ headers ____________*/


.law-heading {
    display: flow-root;
    word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: __text_neu__;
    background-color: inherit;
    padding: 0;
    line-height: 1.2;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.2em;
    margin: 0 0 0.444em;
}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 0 0 0.666em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #c0c0c0
}
h3 {
    font-weight: bold;
    font-size: 1.3em;
    margin: 0.888em 0 0.888em;
    
}
#dw__toc h3 {
    font-size: 1.125em; /* Font size change when part of TOC */
    border-bottom: none;
}
h4 {
    font-size: 1.2em;
    margin: 1.4em 0 1.2em;
}

h5 {
    font-size: 1.08em;
    margin: 0 0 1.1428em;
}
h6 {
    font-size: 1em;
    margin: 0 0 1.333em;
}
/* bottom margin = 1 / font-size */


.noheadingmargin h1,
.noheadingmargin h2,
.noheadingmargin h3,
.noheadingmargin h4,
.noheadingmargin h5,
.noheadingmargin h6 {

    margin: 0;

}
article h1, article h2, article h3, article h4, article h5, article h6 {
    scroll-margin-top: 10vh; /* Value to match the height of header */
}

caption,
figcaption,
summary,
legend {
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    padding: 0;
    margin: 0 0 .35em;
}


/*____________ basic margins and paddings ____________*/

.level1 > p,
.level2 > p,
.level3 > p,
.level4 > p,
.level5 > p,
.level6 > p,
ul,
ol,
dl,
pre,
table,
hr,
blockquote,
figure,
details,
fieldset,
address {
    margin: 0 0 1.4em 0; /* bottom margin = line-height */
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}


/*____________ lists ____________*/

ul,
ol {
    padding: 0 0 0 1.5em;
}
[dir=rtl] ul,
[dir=rtl] ol {
    padding: 0 1.5em 0 0;
}

li,
dd {
    padding: 0;
    margin: 0 0 0 1.5em;
}
[dir=rtl] li,
[dir=rtl] dd {
    margin: 0 1.5em 0 0;
}

dt {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

li ul,
li ol,
li dl,
dl ul,
dl ol,
dl dl {
    margin-bottom: 0;
    padding: 0;
}
li li {
    font-size: 100%;
}

ul {
    list-style: disc outside;
}
ol {
    list-style: decimal outside;
}
ol ol {
    list-style-type: lower-alpha;
}
ol ol ol {
    list-style-type: upper-roman;
}
ol ol ol ol {
    list-style-type: upper-alpha;
}
ol ol ol ol ol {
    list-style-type: lower-roman;
}


/*____________ tables ____________*/

table {
    border-collapse: collapse;
    empty-cells: show;
    border-spacing: 0;
    border: 1px solid __border__;
}

caption {
    caption-side: top;
    text-align: left;
}
[dir=rtl] caption {
    text-align: right;
}

th,
td {
    padding: .3em .5em;
    margin: 0;
    vertical-align: top;
    border: 1px solid __border__;
}
th {
    font-weight: bold;
    background-color: __background_alt__;
    color: inherit;
    text-align: left;
}
[dir=rtl] th {
    text-align: right;
}


/*____________ links ____________*/

a {
}
a:link,
a:visited {
    text-decoration: none;
    color: __link__;
}
a:link:hover,
a:visited:hover,
a:link:focus,
a:visited:focus,
a:link:active,
a:visited:active {
    text-decoration: underline;
}
a:link:focus,
a:visited:focus {
    outline: 1px dotted;
}
a:link:active,
a:visited:active {
    color: #c00;
}


/*____________ misc ____________*/

img,
svg {
    border-width: 0;
    vertical-align: middle;
    color: #666;
    background-color: transparent;
    font-style: italic;
}

img,
svg,
object,
embed,
iframe,
video,
audio {
    max-width: 100%;
}

img,
svg,
video {
    height: auto;
}

iframe {
    border-width: 0;
    background-color: inherit;
}

button img,
button svg {
    max-width: none;
}

hr {
    border-style: solid;
    border-width: 1px 0 0;
    text-align: center;
    height: 0;
    width: 100%;
    clear: both;
}

acronym,
abbr {
    font-style: normal;
}
acronym[title],
abbr[title] {
    cursor: help;
    border-bottom: 1px dotted;
    text-decoration: none;
}
em acronym,
em abbr {
    font-style: italic;
}

mark {
    background: __highlight__;
    color: inherit;
}

pre,
code,
samp,
kbd {
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Bitstream Vera Sans Mono", "Nimbus Mono L", Monaco, "Courier New", monospace;
    /* same font stack should be used for ".dokuwiki table.diff td" in _diff.css */
    font-size: 1em;
    background-color: __background_alt__;
    color: __text__;
    direction: ltr;
    text-align: left;
}
pre {
    border: 1px solid __border__;
    padding: 0 .2em;
    overflow: auto;
    word-wrap: normal;
}

blockquote {
    padding: 0 .5em;
    border: solid __border__;
    border-width: 0 0 0 .25em;
}
[dir=rtl] blockquote {
    border-width: 0 .25em 0 0;
}
q:before,
q:after {
    content: '';
}

sub,
sup {
    font-size: .8em;
    line-height: 1;
}
sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}

small {
    font-size: .8em;
}

wbr {
    display: inline-block;
}

/*____________ forms ____________*/

form {
    display: inline;
    margin: 0;
    padding: 0;
}

fieldset {
    padding: .7em 1em 0;
    padding: .7rem 1rem; /* for those browsers understanding :last-child */
    border: 1px solid #999;
}
fieldset > :last-child {
    margin-bottom: 0;
}
legend {
    padding: 0 .1em;
}

label {
    vertical-align: middle;
    cursor: pointer;
}

input,
textarea,
button,
select,
optgroup,
option,
keygen,
output,
meter,
progress {
    font: inherit;
    color: inherit;
    /* background-color destroys button look */
    line-height: normal;
    margin: 0;
    vertical-align: middle;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input,
button,
select,
keygen,
textarea {
    padding: .1em;
}
input[type=radio],
input[type=checkbox],
input[type=image],
input.check {
    padding: 0;
}

input[type=submit],
input[type=button],
input[type=reset],
input.button,
button {
    cursor: pointer;
    overflow: visible;
    padding: .1em .4em;
}

input[disabled],
button[disabled],
select[disabled],
textarea[disabled],
option[disabled],
input[readonly],
button[readonly],
select[readonly],
textarea[readonly] {
    cursor: auto;
    opacity: .5;
}

input:focus,
button:focus,
select:focus,
keygen:focus,
textarea:focus {
    box-shadow: 0 0 5px #999;
    outline: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

select {
    max-width: 100%;
}
optgroup {
    font-style: italic;
    font-weight: bold;
}
option {
    font-style: normal;
    font-weight: normal;
}
