/**
 * This file provides style changes for small screens. It requires polishing.
 *
 * @author Cieron <cirrow@proton.me>
 */

@media (max-width: 700px)
{

    main#dokuwiki__content {
        padding: 1em;
    }

}


/* Collapsing and vertically aligning behaviour on small screens */
@media(max-width: 700px) {

    
    .dokuwiki .page div.level1, div.level2, div.level3, div.level4, div.level5, div.level6, .wikicontent table.columns-plugin {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .dokuwiki .thumb2 {
        display: flex;
        align-items: center;
        margin: auto !important;
        margin-bottom: 1em !important;

    }

    .plugin_wrap.group {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
    }

    .plugin_wrap.wrap_column {
        width: 100% !important;
    }

    .plugin_wrap {
        width: 100% !important;
        margin: 0 !important;
    }

    td.columns-plugin {
        display: block;
        position: relative;
        width: 100% !important;
        padding: 0 !important;

    }

    table.profileTable {
        margin-left: auto !important;
        margin-right: auto !important;
        max-width: 70%;
    }


}