/* ----------- DIVS ----------- */

.dokuwiki div.primarybox { /*This targets the text wrapped inside <WRAP primarybox>. It styles it like a wikipedia home page panel. */

    background-color: #f8fcfc;
    border: 1px solid #cedff2;
    padding: 0.7em;
    text-align: left;


}

.dokuwiki div.primaryboxtitle {
    background-color: #cedff2;
    border: 1px solid #a3b1be;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.dokuwiki div.primaryboxtitle h4 {
    margin: 0.2em;
}


.dokuwiki div.successbox { 
    background-color: #f5fefb;
    border: 1px solid #cef2e0;
    padding: 0.7em;
    text-align: left;


}

.dokuwiki div.successboxtitle {
    background-color: #cef2e0;
    border: 1px solid #a2bfb0;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.dokuwiki div.successbox h4 {
    margin: 0.2em;
}



.dokuwiki div.plugin_wrap.wrap_homecard {
    display: flex;
    background-color: #f8f9fa;
    border: transparent;
    border-radius: 5px;
    padding: 1em;
    align-items: center;
}

.dokuwiki div.homecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.dokuwiki div.homecard h3 {
    border-bottom: none;
    margin: 0 !important;
}







/* ----------- MIKIOP ----------- */
.mikiop.mikiop-blockquote p {
    font-size: 1.1rem !important;
}

