/**
 * This file provides styles for the TOC (table of contents), the
 * sitemap and backlinks. Sitemap and backlinks are unavailable at this moment.
 */

/* toc
********************************************************************/

.toc {

    overflow: hidden;
    height: 100%;
}

#dw__toc { 
    position: fixed;
    top: 10vh;
    margin-left: 2rem;
    width: 100%;
    max-height: 100vh;
    color: inherit;
    border-left: 1px solid #d1d1d1;
    padding-left: 0.5em;
    overflow-y: auto;
    z-index: 10;

}


#dw__toc a.nav-link {
    border-left: 2px solid transparent;
    font-size: 0.85em;
    color: grey;
    padding: 0.3em 0.3em 0.3em 0.5em;
    margin: 0.05rem 0;
}
#dw__toc a:hover{
    text-decoration: none;
    font-weight: bold;
}
#dw__toc a:focus, #dw__toc a:focus-visible {
    outline: none;
    text-decoration: none;

}

#dw__toc a.nav-link.active {
    font-weight: bold;
    border-left-color: #128afa;
    color: teal;
    text-decoration: none;


}


/*____________ toc list ____________*/

#dw__toc > div {
    padding: .2em .5em;
}
#dw__toc ul {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: auto;
}
#dw__toc ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.1;
}
#dw__toc ul li div.li {
    padding: .15em 0;
}
#dw__toc ul ul {
    padding-left: 1em;
}


/* in case of toc list jumping one level
  (e.g. if heading level 3 follows directly after heading level 1) */
#dw__toc ul li.clear {
}


/* sitemap (and backlinks)
********************************************************************/

.dokuwiki ul.idx {
    padding-left: 0;
}

.dokuwiki ul.idx li {
    list-style-image: url(../../images/bullet.png);
}
.dokuwiki ul.idx li.open {
    list-style-image: url(../../images/open.png);
}
.dokuwiki ul.idx li.closed {
    list-style-image: url(../../images/closed.png);
}


